// ________________Sizes____________________
$sz-colossal: 96px;
// __________Radius____________
$rad-brd-heavy: 60px;
$rad-brd-semiheavy: 40px;
$rad-brd-light: 10px;
// _____________Paddings__________________
$pad-heavy: 17px 55px;
$pad-light: 12px 55px;
// ____________Colors_________________
$clr-blue-soft: #0499DD;

header {
    padding: 26px 0;
    position: relative;
    height: 950px;
    width: 100%;
    background-image: url('../assets/img/screen__one-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 26px;

        .header-services__list {
            display: flex;
            gap: 20px;
            list-style: none;

            .header-services__list-item {

                & .active {
                    color: #FFC700;
                }
            }
        }
        .header-logo img {
            cursor: pointer;
        }
        .icon-menu {
            cursor: pointer;
            display: none;
        }
    }

    .header-headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 45px;

        .header-title {
            width: 60%;
            color: #fff;
            font-size: $sz-colossal;
        }

        .header-button {
            padding: $pad-heavy;
            border-radius: $rad-brd-heavy;

            & button {
                background: none;
            }
        }
    }
}

main {
    margin: 50px 0;
    padding: 40px 0;
    width: 100%;

    .main__screen-one {
        display: flex;
        flex-direction: column;
        gap: 38px;

        .main__screen__one-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main__screen__one-headtitle {
                font-size: 24px;
                color: $clr-blue-soft;
            }

            .main__screen__one-show__all {
                color: #282828;
                text-decoration: underline;
            }
        }

        .main__screen__one-card__container {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
            gap: 20px;
            .screen__one-card {
                border-radius: $rad-brd-light;
                height: 600px;
                width: 100%;
                background-image: url('../assets/img/first-card-bg.png');
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 20px;
                padding: 16px 42px;

                .travel-type {
                    min-width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    span {
                        font-weight: 500;
                        font-size: 12px;
                        color: #fff;
                    }

                    h4 {
                        font-weight: 700;
                        color: #FFC700;

                    }

                    p {
                        margin-top: 8px;
                        font-size: 14px;
                        width: 60%;
                        justify-content: space-between;
                        color: #fff;
                        display: flex;
                        align-items: center;

                        img {
                            object-fit: cover;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
                a {
                    button {
                        padding: $pad-light;
                        border-radius: $rad-brd-semiheavy;
                    }
                }
                .travel-type-description {
                    width: 100%;
                    p {
                        font-size: 12px;
                        width: 84%;
                        color: #fff;
                        
                    }
                }
            }
        }
    }
    .main__screen-two {
        padding: 10px;
        margin-top: 110px;
        height: 950px;
        width: 100%;
        background-image: url('../assets/img/screen__two-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .main__screen__two-about__box {
            padding: 60px 85px;
            background-color: white;
            margin: 0 auto;
            border-radius: $rad-brd-light;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            gap: 20px;
            h2 {
                margin-bottom: 20px;
                color: $clr-blue-soft;
            }
            p {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .main__screen-three {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
        .main__screen__three-headtitle {
            color: $clr-blue-soft;
            text-align: right;
            align-self: flex-start;
            margin-bottom: 30px;
        }
        .main__screen__three-vacation__container {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: 20px;
            .vacation-card {
                display: flex;
                text-align: left;
                gap: 20px;
                .vacation-icon {
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                }
                .vacation-description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h2 {
                        color: $clr-blue-soft;
                        font-size: 18px;
                    }
                    p {
                        font-size: 14px;
                        width: 88%;
                    }
                }
            }
        }
        .main__screen__three-conclusion {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
                font-size: 14px;
                font-weight: 500;
                width: 40%;
            }
            .elem-director {
                padding: $pad-heavy;
                border-radius: $rad-brd-semiheavy;
            }
        }
    }
   
}