@media only screen and (max-width: 1400px) {
    header {
        padding: 26px 10px;
        .header-top {
            .header-services__list {
                display: none;
            }

            .icon-menu {
                width: 32px;
                height: 32px;
                display: block;
            }
        }
        .header-headline {
            padding: 5px;
            .header-title {
                font-size: 50px;
                min-width: 70%;
            }
        }
    }
    main {
        .main__screen-two {
            .main__screen__two-about__box {
                width: 80%;
            }
        }
    }
}
@media only screen and (max-width: 880px){
    header {
        height: 60vh;
        .container {
            width: 96%;
        }
        .header-headline {
            .header-title {
                font-size: 30px;
            }
        }
    }
    main {
        .main__screen-one {
            .main__screen__one-card__container {
                display: flex;
                width: 75%;
                flex-wrap: nowrap;
                overflow-x: scroll;
                padding: 10px;
                .screen__one-card {
                    min-width: 100%;
                    align-items: center;
                    .travel-type {
                        p {
                            width: 50%;
                        }
                    }
                }
            }
        }
        .main__screen-three {
            .main__screen__three-vacation__container {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}