@media only screen and (max-width: 1400px) {
    header {
        padding: 26px 10px;
        .header-top {
            .header-services__list {
                display: none;
            }
            .icon-menu {
                width: 32px;
                height: 32px;
                display: block;
            }
        }
        .header-headline {
            padding: 5px;
            .header-title {
                font-size: 50px;
                min-width: 70%;
            }
        }
    }
}
@media only screen and (max-width: 700px){
    header {
        height: 60vh;
        .container {
            width: 96%;
        }
        .header-headline {
            .header-title {
                font-size: 30px;
            }
        }
    }
}